<div class="footer-padding"></div>
  <div class="footer">
    <i class="fab fa-facebook soicons"> </i>
<i class="fab fa-twitter soicons"> </i>
<i class="fab fa-instagram soicons"> </i>
<i class="far fa-envelope soicons"> </i>
    <p>©copyright Team SAR</p>
  </div>
</div>

</body>

</html>
