
  <div class="footer" style="width:100%;">
    <a href="https://www.facebook.com/108224480805949/"><i class="fab fa-facebook soicons"></i></a>
<i class="fab fa-twitter soicons"> </i>
<i class="fab fa-instagram soicons"> </i>
<i class="far fa-envelope soicons"> </i>
    <p class="copyright" style="font-size:13px;">©copyright MangalDeep</p>
  </div>


</body>

</html>
