<%- include("partials/headerdummy"); -%>
<div class="container" style="height:500px;width:100%;">
<h1 style="font-weight:900;padding-top:200px;">Your Cart is empty Please add products to the cart.</h1>
</div>
<%- include("partials/footer"); -%>
