<%- include("partials/header"); -%>
<div class="container box rishabh text-center mt-5 mb-5" onclick="closeNav()" style="width:100%">
<form class="text-center border border-light p-5" action="/login" method="post">
<p class="h4 mb-4">Sign In</p>
<input id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="username" required>
<input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" required>
<div class="d-flex justify-content-around">
<div>
</div>
<div>
</div>
</div>
<button class="btn btn-info btn-block my-4" type="submit">Sign In</button>
<p>Not a member?
<a href="/register">Register</a>
</p>
</form>
</div>
<%- include("partials/footer"); -%>
