
<!DOCTYPE html>
<html lang="en">
<head>
<title>sign in </title>
<meta property="og:image" content="/snippets/designs/elegant-modal-login-form-with-icons.png" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="fb:admins" content="100001054961582" />
<meta property="fb:app_id" content="1404574483159557" />
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/9ae18169e0.js" crossorigin="anonymous"></script>
<style >
.box{
  width:400px;
  height:auto;
  margin-top:100px;
  background-color: #ecfbfc;
}
</style>
</head>
<body class="text-center ">
  <div class="container box">


  <form class="text-center border border-light p-5" action="#!">

      <p class="h4 mb-4">Sign up</p>

<input type="text" id="defaultLoginFormusername" class="form-control mb-4" placeholder="username" required>
      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" required>

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Create Password" required>



      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit">Sign up</button>

      <!-- Register -->


      <!-- Social login -->
      <p> sign in with:<a href="#" class="mx-2" role="button"><i class="fab fa-google"></i></a></p>




  </form>
  </div>
  <!-- Default
