/* header file styling starting */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.28s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*  */
/* compose file styling */
#pp, #pps {
  width: 100%;
}

h2.add-products {
  color: #552244;
  font-family: 'Righteous', cursive;
}

.color-text {
  color: #552244;
  font-family: 'Gotu', sans-serif;
}

/*  */

/* styling of index.ejs */
.carousel-indicators .li-1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: grey;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 10px;
    background-color: black;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 20px;
  width: 20px;
  background-size: 100%, 100%;
  background-color: black;

}
.card-img-top{
  height: 20rem;
}

/*  */
